body{
    background-color: black;
}

h1{
    text-align: center;
    color: white;
    font-size: 60px;
}
.frame button {
    background-color: #b62b8c; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .frame button:hover {
    background-color: #720657;
  }